<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Dawn Garden Flowers"
	useThumbDots="false"
	useFullscreenExpand="false"

>
  <image imageURL="gallery/images/20130917_151731.jpg"
	thumbURL="gallery/thumbs/20130917_151731.jpg"
	linkURL="gallery/images/20130917_151731.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20130917_151731.jpg">
    <title><![CDATA[20130917_151731]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20131117_172328.jpg"
	thumbURL="gallery/thumbs/20131117_172328.jpg"
	linkURL="gallery/images/20131117_172328.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20131117_172328.jpg">
    <title><![CDATA[20131117_172328]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20131117_172337.jpg"
	thumbURL="gallery/thumbs/20131117_172337.jpg"
	linkURL="gallery/images/20131117_172337.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20131117_172337.jpg">
    <title><![CDATA[20131117_172337]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20131117_172512.jpg"
	thumbURL="gallery/thumbs/20131117_172512.jpg"
	linkURL="gallery/images/20131117_172512.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20131117_172512.jpg">
    <title><![CDATA[20131117_172512]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20131117_172606.jpg"
	thumbURL="gallery/thumbs/20131117_172606.jpg"
	linkURL="gallery/images/20131117_172606.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20131117_172606.jpg">
    <title><![CDATA[20131117_172606]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20131118_174927.jpg"
	thumbURL="gallery/thumbs/20131118_174927.jpg"
	linkURL="gallery/images/20131118_174927.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20131118_174927.jpg">
    <title><![CDATA[20131118_174927]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20131118_175001.jpg"
	thumbURL="gallery/thumbs/20131118_175001.jpg"
	linkURL="gallery/images/20131118_175001.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20131118_175001.jpg">
    <title><![CDATA[20131118_175001]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20131119_173820.jpg"
	thumbURL="gallery/thumbs/20131119_173820.jpg"
	linkURL="gallery/images/20131119_173820.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20131119_173820.jpg">
    <title><![CDATA[20131119_173820]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20131119_173931.jpg"
	thumbURL="gallery/thumbs/20131119_173931.jpg"
	linkURL="gallery/images/20131119_173931.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20131119_173931.jpg">
    <title><![CDATA[20131119_173931]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20151102_104828.jpg"
	thumbURL="gallery/thumbs/20151102_104828.jpg"
	linkURL="gallery/images/20151102_104828.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20151102_104828.jpg">
    <title><![CDATA[20151102_104828]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20151119_113025.jpg"
	thumbURL="gallery/thumbs/20151119_113025.jpg"
	linkURL="gallery/images/20151119_113025.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20151119_113025.jpg">
    <title><![CDATA[20151119_113025]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20151119_113054.jpg"
	thumbURL="gallery/thumbs/20151119_113054.jpg"
	linkURL="gallery/images/20151119_113054.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20151119_113054.jpg">
    <title><![CDATA[20151119_113054]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20151119_113307.jpg"
	thumbURL="gallery/thumbs/20151119_113307.jpg"
	linkURL="gallery/images/20151119_113307.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20151119_113307.jpg">
    <title><![CDATA[20151119_113307]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20151119_113321.jpg"
	thumbURL="gallery/thumbs/20151119_113321.jpg"
	linkURL="gallery/images/20151119_113321.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20151119_113321.jpg">
    <title><![CDATA[20151119_113321]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20160814_150821.jpg"
	thumbURL="gallery/thumbs/20160814_150821.jpg"
	linkURL="gallery/images/20160814_150821.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20160814_150821.jpg">
    <title><![CDATA[20160814_150821]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20160820_150023.jpg"
	thumbURL="gallery/thumbs/20160820_150023.jpg"
	linkURL="gallery/images/20160820_150023.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20160820_150023.jpg">
    <title><![CDATA[20160820_150023]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20160823_143214.jpg"
	thumbURL="gallery/thumbs/20160823_143214.jpg"
	linkURL="gallery/images/20160823_143214.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20160823_143214.jpg">
    <title><![CDATA[20160823_143214]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20160823_143223.jpg"
	thumbURL="gallery/thumbs/20160823_143223.jpg"
	linkURL="gallery/images/20160823_143223.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20160823_143223.jpg">
    <title><![CDATA[20160823_143223]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20160829_175840.jpg"
	thumbURL="gallery/thumbs/20160829_175840.jpg"
	linkURL="gallery/images/20160829_175840.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20160829_175840.jpg">
    <title><![CDATA[20160829_175840]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20161001_214542.jpg"
	thumbURL="gallery/thumbs/20161001_214542.jpg"
	linkURL="gallery/images/20161001_214542.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20161001_214542.jpg">
    <title><![CDATA[20161001_214542]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20161001_214623.jpg"
	thumbURL="gallery/thumbs/20161001_214623.jpg"
	linkURL="gallery/images/20161001_214623.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20161001_214623.jpg">
    <title><![CDATA[20161001_214623]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20161108_101123.jpg"
	thumbURL="gallery/thumbs/20161108_101123.jpg"
	linkURL="gallery/images/20161108_101123.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20161108_101123.jpg">
    <title><![CDATA[20161108_101123]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20161130_152306.jpg"
	thumbURL="gallery/thumbs/20161130_152306.jpg"
	linkURL="gallery/images/20161130_152306.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20161130_152306.jpg">
    <title><![CDATA[20161130_152306]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/20161211_134031.jpg"
	thumbURL="gallery/thumbs/20161211_134031.jpg"
	linkURL="gallery/images/20161211_134031.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\20161211_134031.jpg">
    <title><![CDATA[20161211_134031]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/01052012207.jpg"
	thumbURL="gallery/thumbs/01052012207.jpg"
	linkURL="gallery/images/01052012207.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\01052012207.jpg">
    <title><![CDATA[01052012207]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/06012013421.jpg"
	thumbURL="gallery/thumbs/06012013421.jpg"
	linkURL="gallery/images/06012013421.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\06012013421.jpg">
    <title><![CDATA[06012013421]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/08112012339.jpg"
	thumbURL="gallery/thumbs/08112012339.jpg"
	linkURL="gallery/images/08112012339.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\08112012339.jpg">
    <title><![CDATA[08112012339]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/10032011025.jpg"
	thumbURL="gallery/thumbs/10032011025.jpg"
	linkURL="gallery/images/10032011025.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\10032011025.jpg">
    <title><![CDATA[10032011025]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/11122011106.jpg"
	thumbURL="gallery/thumbs/11122011106.jpg"
	linkURL="gallery/images/11122011106.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\11122011106.jpg">
    <title><![CDATA[11122011106]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/11122011107.jpg"
	thumbURL="gallery/thumbs/11122011107.jpg"
	linkURL="gallery/images/11122011107.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\11122011107.jpg">
    <title><![CDATA[11122011107]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/12122012378.jpg"
	thumbURL="gallery/thumbs/12122012378.jpg"
	linkURL="gallery/images/12122012378.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\12122012378.jpg">
    <title><![CDATA[12122012378]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/12122012382.jpg"
	thumbURL="gallery/thumbs/12122012382.jpg"
	linkURL="gallery/images/12122012382.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\12122012382.jpg">
    <title><![CDATA[12122012382]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/14062012225.jpg"
	thumbURL="gallery/thumbs/14062012225.jpg"
	linkURL="gallery/images/14062012225.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\14062012225.jpg">
    <title><![CDATA[14062012225]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/14062012229.jpg"
	thumbURL="gallery/thumbs/14062012229.jpg"
	linkURL="gallery/images/14062012229.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\14062012229.jpg">
    <title><![CDATA[14062012229]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/14062012231.jpg"
	thumbURL="gallery/thumbs/14062012231.jpg"
	linkURL="gallery/images/14062012231.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\14062012231.jpg">
    <title><![CDATA[14062012231]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/14062012237.jpg"
	thumbURL="gallery/thumbs/14062012237.jpg"
	linkURL="gallery/images/14062012237.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\14062012237.jpg">
    <title><![CDATA[14062012237]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/16032011054.jpg"
	thumbURL="gallery/thumbs/16032011054.jpg"
	linkURL="gallery/images/16032011054.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\16032011054.jpg">
    <title><![CDATA[16032011054]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/16032011060.jpg"
	thumbURL="gallery/thumbs/16032011060.jpg"
	linkURL="gallery/images/16032011060.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\16032011060.jpg">
    <title><![CDATA[16032011060]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/16032011068.jpg"
	thumbURL="gallery/thumbs/16032011068.jpg"
	linkURL="gallery/images/16032011068.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\16032011068.jpg">
    <title><![CDATA[16032011068]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/16032011075.jpg"
	thumbURL="gallery/thumbs/16032011075.jpg"
	linkURL="gallery/images/16032011075.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\16032011075.jpg">
    <title><![CDATA[16032011075]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/16032011104.jpg"
	thumbURL="gallery/thumbs/16032011104.jpg"
	linkURL="gallery/images/16032011104.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\16032011104.jpg">
    <title><![CDATA[16032011104]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/23122011114.jpg"
	thumbURL="gallery/thumbs/23122011114.jpg"
	linkURL="gallery/images/23122011114.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\23122011114.jpg">
    <title><![CDATA[23122011114]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/23122011115.jpg"
	thumbURL="gallery/thumbs/23122011115.jpg"
	linkURL="gallery/images/23122011115.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\23122011115.jpg">
    <title><![CDATA[23122011115]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/24032011140.jpg"
	thumbURL="gallery/thumbs/24032011140.jpg"
	linkURL="gallery/images/24032011140.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\24032011140.jpg">
    <title><![CDATA[24032011140]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/24032011155.jpg"
	thumbURL="gallery/thumbs/24032011155.jpg"
	linkURL="gallery/images/24032011155.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\24032011155.jpg">
    <title><![CDATA[24032011155]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/25072012276.jpg"
	thumbURL="gallery/thumbs/25072012276.jpg"
	linkURL="gallery/images/25072012276.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\25072012276.jpg">
    <title><![CDATA[25072012276]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/25072012277.jpg"
	thumbURL="gallery/thumbs/25072012277.jpg"
	linkURL="gallery/images/25072012277.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\25072012277.jpg">
    <title><![CDATA[25072012277]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/25072012279.jpg"
	thumbURL="gallery/thumbs/25072012279.jpg"
	linkURL="gallery/images/25072012279.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\25072012279.jpg">
    <title><![CDATA[25072012279]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/27092012308.jpg"
	thumbURL="gallery/thumbs/27092012308.jpg"
	linkURL="gallery/images/27092012308.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\27092012308.jpg">
    <title><![CDATA[27092012308]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="gallery/images/30072012284.jpg"
	thumbURL="gallery/thumbs/30072012284.jpg"
	linkURL="gallery/images/30072012284.jpg"
	linkTarget="_blank"
	sourcePath="X:\New\30072012284.jpg">
    <title><![CDATA[30072012284]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>
